{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container mt-5">
        <h1 class="mb-4">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(registrationForm.firstname, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.firstname) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.lastname, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.lastname) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.subscription, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.subscription, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.subscription) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            {# <div class="form-group form-check">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div> #}

            <button type="submit" class="btn btn-primary mt-3">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
