{% extends 'base.html.twig' %}

{% block title %}Hello HandleSubscriptionController!{% endblock %}

{% block body %}
<style>

.sub-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sub-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #f0f0f0;
}


.sub-card.active {
    background-color: grey;
}

.sub-card span {
    background-color: red;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}

</style>

<div class="user-sub-container">
        <div class="user-sub">
            <h1>Abonnement en cours : </h1>

            <p>Abonnement : {{ currentSubscription.title }}</p>
            <p>Limite de conversion : {{ currentSubscription.pdfLimit }}</p>
            <p>Prix : {{ currentSubscription.price }}</p>
            {# <p>Prochain renouvellement : {{ nextRenewalDate }}</p> #}
        </div>
        <div class="available-sub">
            <h1>Changer d'abonnement : </h1>

            <div class="sub-list">
                {% for subscription in availableSubscriptions %}
                    <div class="sub-card {% if subscription.title == currentSubscription.title %} active{% endif %}">
                   {% if subscription.title == currentSubscription.title %} <span> Abonnement en cours ! </span>{% endif %}
                        <p>Abonnement : {{ subscription.title }}</p>
                        <p>Limite de conversion : {{ subscription.pdfLimit }}</p>
                        <p>Prix : {{ subscription.price }}</p>
                        <div>
                        <a href="{{ path('app_change_subscription', {'id': subscription.id}) }}">Choisir cet abonnement</a>
                    </div>
                    </div>
                    
                {% endfor %}
            {# <p>Prochain renouvellement : {{ nextRenewalDate }}</p> #}
        </div>
    </div>

{% endblock %}
