{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>HOME</h1>
    {% if user %}
        <p>Welcome, {{ user.firstname }}!</p>
        <li><a href="{{ path('app_history') }}">Mes PDFs</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    {%else%}
        <li><a href="{{ path('app_login') }}">login</a></li>
        <li><a href="{{ path('app_register') }}">Inscription</a></li>

    {% endif %}
    <ul>
        <li><a href="{{ path('app_home') }}">home</a></li>
        <li><a href="{{ path('app_generate-pdf') }}">generate-pdf</a></li>
    </ul>
</div>
{% endblock %}
